<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download | Shareit - Share file anywhere</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <img src="/img/logo.png" alt="Shareit logo" class="logo">

    <section class="download">
        <img class="download__icon" src="/img/dwn.svg" alt="inshare-download">
        <% if(locals.error){ %>
        <h4><%= locals.error %> 😏</h4>
        <% } else { %>
        <h2>Your file is ready to download</h2>
        <p>Link expires Tommorow at 2 A.M.</p>
        <div class="download__meta">
            <h4><%= fileName %></h4>
            <small><%= parseInt(fileSize/1000) %> KB</small>
        </div>
        <div class="send-btn-container">
            <a href="<%= downloadLink %>">Download file</a>
        </div>
        <div class="made-by">
            <p>Made with ❤️ By <a href="https://www.linkedin.com/in/pratik-hadiya">Pratik Hadiya</a></p>
        </div>
        <% } %>


    </section>

</body>

</html>